/* Fonts */
@font-face {
  font-family: "HelveticaNeue-Bold";
  src: url("./fonts/HelveticaNeue-Bold.eot");
  src: url("./fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/HelveticaNeue-Bold.woff2") format("woff2"),
    url("./fonts/HelveticaNeue-Bold.woff") format("woff"),
    url("./fonts/HelveticaNeue-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("./fonts/HelveticaNeue-Light.eot");
  src: url("./fonts/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/HelveticaNeue-Light.woff2") format("woff2"),
    url("./fonts/HelveticaNeue-Light.woff") format("woff"),
    url("./fonts/HelveticaNeue-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* CSS Variables */
:root {
  --theme-color-zero: #ffffff;
  --theme-color-one: #004a80;
  --theme-color-two: #f6bc25;
  --theme-color-three: #f2da56;
  --theme-color-four: #a6953b;
  --theme-color-five: #00000033;
  --theme-color-six: #f8f8f8;
  --theme-color-seven: #dddddd;

  --text-color-white: #ffffff;
  --text-color-blue: #004a80;
  --text-color-yellow: #f6bc25;
  --text-color-gray: #9b9b9b;
  --text-color-gray-two: #999999;
  --text-color-grey: #4a4a4a;
  --text-color-red: #dc0015;
}

/* Reset Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
}

/* Heading Styles */
h1 {
  font-size: 5.2em;
  font-family: "HelveticaNeue-Bold", Helvetica, Arial, sans-serif;
}

h3 {
  font-size: 2.4em;
}

p {
  font-size: 1.6em;
}

/* Helper */
.text-yellow {
  color: var(--text-color-yellow);
}

.text-blue {
  color: var(--text-color-blue);
}

.text-gray {
  color: var(--text-color-gray-two);
}

.text-red {
  color: var(--text-color-yellow);
}

.text-bold {
  font-family: "HelveticaNeue-Bold", Helvetica, Arial, sans-serif;
}

/* Loader */

.loader {
  margin: 20px auto;
  border: 12px solid var(--theme-color-seven);
  border-radius: 50%;
  border-top: 12px solid var(--theme-color-one);
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Header Section */
header {
  background: var(--theme-color-one);
  color: var(--text-color-white);
  padding: 20px 20px 95px 20px;
}

nav {
  margin: 0 auto;
  max-width: 980px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  height: 25px;
  width: 173px;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu-icon {
  height: 23px;
  width: 23px;
  margin-left: 25px;
}

.hero-container {
  margin: 0 auto;
  max-width: 980px;
}

.heading {
  margin-top: 50px;
  text-align: center;
}

.subheading {
  margin-top: 15px;
  text-align: center;
}

.form {
  margin-top: 30px;
  text-align: center;
  display: flex;
}

.email-input-container {
  position: relative;
  flex: 1;
  margin-right: 20px;
  height: 70px;
  background: var(--theme-color-zero);
  box-shadow: inset 0 -1px 4px 0 var(--theme-color-five);
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.email-input-container:focus-within {
  border: 2px solid var(--theme-color-two);
  outline-color: var(--theme-color-two);
}

.email-input {
  padding-left: 10px;
  width: 100%;
  margin: 4px 2px 0 2px;
  border: none;
  font-size: 1.6em;
  color: intial;
  letter-spacing: 2px;
  line-height: 18px;
  outline: none;
}

.email-input:focus {
  content: "";
}

.email-input::placeholder {
  padding-left: 2px;
}

.email-input-label {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.6em;
  color: var(--text-color-gray);
  letter-spacing: 2px;
  line-height: 18px;
  padding: 8px 0 0 11.5px;
}

.email-input:focus + .email-input-label {
  opacity: 1;
}

.email-input-error-message {
  position: absolute;
  top: 6px;
  left: 14px;
  color: var(--text-color-red);
  letter-spacing: 0;
  line-height: 18px;
  font-size: 1.6em;
}

.submit-btn {
  cursor: pointer;
  width: 180px;
  height: 70px;
  color: var(--text-color-blue);
  font-size: 2.4em;
  border: none;
  outline: none;
  background-image: linear-gradient(
    225deg,
    var(--theme-color-three) 0%,
    var(--theme-color-two) 100%
  );
  box-shadow: 0 3px 0 0 var(--theme-color-four),
    inset 0 1px 0 0 var(--theme-color-zero);
  border-radius: 6px;
}

.submit-btn:hover,
.submit-btn:focus {
  background: var(--theme-color-three);
  box-shadow: 0 3px 0 0 var(--theme-color-four),
    inset 0 1px 0 0 var(--theme-color-zero);
}

.submit-btn:active {
  background: var(--theme-color-two);
  box-shadow: 0 3px 0 0 var(--theme-color-four),
    inset 0 1px 0 0 var(--theme-color-zero);
}

.hero-info {
  margin-top: 30px;
  display: flex;
  align-items: baseline;
}

.hero-info-icon {
  height: 15px;
  width: 19px;
  margin-right: 10px;
}

main {
  padding: 40px 25px 60px 25px;
  background-image: linear-gradient(0deg, #e6e6e6 0%, #ffffff 100%);
}

.main-heading {
  color: var(--text-color-blue);
  text-align: center;
}

.main-content {
  margin: 0 auto;
  max-width: 980px;
  margin-top: 20px;
  color: var(--text-color-grey);
  letter-spacing: 0;
  line-height: 28px;
  font-size: 2.2em;
}

.feature-section {
  display: flex;
  flex-wrap: wrap;
  max-width: 1040px;
  margin: 40px auto 0 auto;
}

.feature-column {
  flex: 1;
}

.feature-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 30px;
  margin-right: 24px;
}

.feature-card:nth-child(1) {
  margin-top: 0;
}

.feature-number-container,
.results-user-icon-container {
  min-height: 90px;
  max-height: 90px;
  min-width: 90px;
  max-width: 90px;
  border-radius: 50%;
  background: var(--theme-color-one);
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-number {
  font-size: 4.8em;
  position: relative;
  top: 5px;
}

.feature-content {
  margin-left: 20px;
}

.feature-title {
  font-size: 2.2em;
}

.feature-body {
  margin-top: 8px;
  font-size: 1.8em;
  max-width: 380px;
  letter-spacing: 0;
  line-height: 26px;
}

footer {
  max-width: 1190px;
  margin: 0 auto;
  padding: 14px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  max-width: 960px;
  font-size: 1.5em;
}

.footer-terms {
  white-space: nowrap;
  margin-left: 40px;
}

/* Results Page */
.results-header {
  padding-bottom: 20px;
}

.results-main {
  padding-top: 30px;
  background: var(--theme-color-six);
}

.results-main-content {
  text-align: center;
  font-size: 2.4em;
  color: initial;
}

.results-user-container {
  background: var(--theme-color-zero);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  max-width: 980px;
  margin: 30px auto 0 auto;
  padding: 40px 60px 40px 40px;
  display: flex;
  align-items: flex-start;
}

.results-user-body {
  margin-left: 20px;
}

.results-user-heading {
  font-size: 3.2em;
}

.results-user-description,
.results-user-details-card-body {
  font-size: 1.8em;
  margin-top: 5px;
  line-height: 26px;
}

.results-user-details-card-body {
  min-height: 100px;
  max-width: 360px;
}

.results-user-details-container {
  margin-top: 20px;
  display: flex;
}

.results-user-details-column {
  flex: 1;
}

.results-user-details-column:nth-of-type(1) {
  margin-right: 25px;
}

.results-user-details-card {
  flex: 1;
}

.results-user-details-card:nth-of-type(2) {
  margin-top: 25px;
}

.results-user-details-card:nth-of-type(2) > .results-user-details-card-body {
  min-height: unset;
}

.results-user-details-card-title {
  font-size: 2.2em;
}

.results-user-icon {
  width: 40px;
  height: 46px;
}

.results-cta {
  background: var(--theme-color-one);
  color: var(--text-color-white);
  padding: 55px 0 105px 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 4.8em;
  }

  h3 {
    font-size: 2em;
  }

  header {
    padding: 20px 25px 60px 25px;
  }

  main {
    padding: 30px 25px;
  }

  .main-content {
    font-size: 2em;
  }

  .feature-section {
    margin-top: 30px;
  }

  .feature-number-container,
  .results-user-icon-container {
    min-height: 63px;
    max-height: 63px;
    min-width: 63px;
    max-width: 63px;
  }

  .feature-number {
    font-size: 3.36em;
    top: 3px;
  }

  .feature-body {
    font-size: 1.6em;
    max-width: 264px;
  }

  /* Results Page */
  .results-user-icon {
    width: 28px;
    height: 32.2px;
  }

  .results-user-description,
  .results-user-details-card-body {
    font-size: 1.6em;
    margin-top: 5px;
    line-height: 24px;
  }

  .results-cta {
    padding: 55px 25px 105px 25px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 3.8em;
  }

  h3 {
    font-size: 1.8em;
  }

  header {
    padding-bottom: 40px;
  }

  .form {
    flex-direction: column;
  }

  .email-input-container {
    min-height: 50px;
    margin-right: 0;
  }

  .email-input-label {
    padding-top: 1px;
  }

  .email-input-error-message {
    top: 0px;
  }

  .submit-btn {
    margin-top: 10px;
    height: 50px;
    width: 100%;
  }

  main {
    padding: 20px 21px 30px 21px;
  }

  .main-content {
    font-size: 1.8em;
  }

  .feature-section {
    margin-top: 30px;
  }

  .feature-card {
    min-width: 256px;
  }

  .feature-column:nth-of-type(2) {
    margin-top: 15px;
  }

  .feature-number-container {
    min-height: 50.4px;
    max-height: 50.4px;
    min-width: 50.4px;
    max-width: 50.4px;
  }

  .feature-number {
    font-size: 3.36em;
    top: 4px;
  }

  .feature-body {
    max-width: 100%;
  }

  footer {
    display: block;
    padding: 14px 15px 25px 15px;
  }

  .footer-terms {
    font-size: 1.4em;
    margin: 20px 0 0 0;
    text-align: center;
  }

  /* Results Page */
  .results-main-content {
    text-align: left;
  }

  .results-user-icon-container {
    display: none;
  }

  .results-user-container {
    padding: 25px 15px;
  }

  .results-user-body {
    margin-left: 0;
  }

  .results-user-details-container {
    display: block;
  }

  .results-user-details-card-body {
    min-height: unset;
    max-width: unset;
  }

  .results-user-details-column:nth-of-type(1) {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .results-user-details-card:nth-of-type(2) {
    margin-top: 15px;
  }

  .results-cta {
    padding: 40px 25px;
  }
}

/* Functional Helper */

.hide {
  display: none;
}

.error-border {
  border: 2px solid var(--text-color-red);
}

.error-border:focus-within {
  border: 2px solid var(--text-color-red);
  outline-color: var(--text-color-red);
}
