/* Fonts */
@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('./fonts/HelveticaNeue-Bold.eot');
  src: url('./fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/HelveticaNeue-Bold.woff2') format('woff2'),
      url('./fonts/HelveticaNeue-Bold.woff') format('woff'),
      url('./fonts/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./fonts/HelveticaNeue-Light.eot');
  src: url('./fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
      url('./fonts/HelveticaNeue-Light.woff2') format('woff2'),
      url('./fonts/HelveticaNeue-Light.woff') format('woff'),
      url('./fonts/HelveticaNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


/* CSS Variables */
:root {
  --theme-color-zero: #ffffff;
  --theme-color-one: #004A80;
  --theme-color-two: #F6BC25;
  --theme-color-three: #F2DA56;
  --theme-color-four: #A6953B;
  --theme-color-five: #00000033;

  --text-color-white: #ffffff;
  --text-color-blue: #004A80;
  --text-color-yellow: #F6BC25;
  --text-color-gray: #9B9B9B;
}

/* Reset Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif
}

/* Heading Styles */
h1 {
  font-size: 5.2em;
  font-family: "HelveticaNeue-Bold", Helvetica, Arial, sans-serif;
}

h3 {
  font-size: 2.4em;
}

p {
  font-size: 1.6em;
}

/* Helper */
.text-yellow {
  color: var(--text-color-yellow)
}

.text-bold {
  font-family: "HelveticaNeue-Bold", Helvetica, Arial, sans-serif;
}

/* Header Section */
header {
  background: var(--theme-color-one);
  color: var(--text-color-white);
  padding: 20px 20px 95px 20px; 
}

nav {
  margin: 0 auto;
  max-width: 980px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 25px;
  width: 173px;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu-icon {
  height: 23px;
  width: 23px;
  margin-left: 25px;
}

.hero-container {
  margin: 0 auto;
  max-width: 980px;
}

.heading {
  margin-top: 50px;
  text-align: center;
}

.subheading {
  margin-top: 15px;
  text-align: center;
}

.form {
  margin-top: 30px;
  text-align: center;
  display: flex;
}

.email-input {
  flex:1;
  margin-right: 20px;
  padding-left: 12px;
  height: 70px;
  border: none;
  box-shadow: inset 0 -1px 4px 0 var(--theme-color-five);
  border-radius: 3px;
  font-size: 1.6em;
  color: var(--text-color-gray);
  letter-spacing: 2px;
  line-height: 18px;
}

.email-input:focus {
  border: 2px solid var(--theme-color-two);
  outline-color: var(--theme-color-two);
}

.submit-btn {
  cursor: pointer;
  width: 180px;
  height: 70px;
  color: var(--text-color-blue);
  font-size: 2.4em;
  border:none;
  background-image: linear-gradient(225deg, var(--theme-color-three) 0%, var(--theme-color-two) 100%);
  box-shadow: 0 3px 0 0 var(--theme-color-four), inset 0 1px 0 0 var(--theme-color-zero);
  border-radius: 6px;
}

.submit-btn:hover {
  background: var(--theme-color-three);
  box-shadow: 0 3px 0 0 var(--theme-color-four), inset 0 1px 0 0 var(--theme-color-zero);
}

.submit-btn:active {
  background: var(--theme-color-two);
  box-shadow: 0 3px 0 0 var(--theme-color-four), inset 0 1px 0 0 var(--theme-color-zero);
}

.hero-info {
  margin-top: 30px;
  display: flex;
  align-items: baseline;
}

.hero-info-icon {
  height: 15px;
  width: 19px;
  margin-right: 10px;
}

@media(max-width: 768px) {
  h1 {
    font-size: 4.8em;
  }

  h3 {
    font-size: 2em;
  }

  header {
    padding: 20px 25px 60px 25px; 
  }
}


@media(max-width: 600px) {
  h1 {
    font-size: 3.8em;
  }

  h3 {
    font-size: 1.8em;
  }

  header {
    padding-bottom: 40px; 
  }

  .form {
    flex-direction: column;
  }

  .email-input {
    min-height: 50px;
    margin-right: 0;
  }
  
  .submit-btn {
    margin-top: 10px;
    height: 50px;
    width: 100%;
  }
}





